* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.shot {
    width: 100px;
    height: 30px;
    font-size: 17px;
    font-weight: bold;
    margin: 10px;
}

.bullet {
    position: absolute;
    font-size: 5px;
    left : 0px;
    bottom: calc(5vh);
    
}

.surface{
    position: absolute;
    width: 100%;
    height: 5vh;
    bottom: 0;
    border: 0px solid black;
    background-color: rgb(77, 46, 10);
}

input {
    width: 50px;
    height: 15px;
}

