td{
    border: 2px solid #372c25;
    border-radius: 9px;
    text-align: center;
    vertical-align: center;
    font-size: 18pt;
    font-weight: bold;
    height : 70px;
    width: 70px;
    color : #684A23;
    background-color: #FBEDDC;
}
